.tab-title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  /* Dark */

  color: #222d39;
}
.description {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */

  /* Body Text */

  color: #8492a7;
}
