.navbar-bg {
  background-color: #f0f9fe;
}

.nav-button {
  padding-top: 18px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  background: #008aff;
  border-radius: 3px;
  border: none;
}
.nav-kit {
  color: #008aff;
}
