.li-style {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  /* Primary */
  color: #222d39;
  /* padding-top: 10px; */
}
.skills-ul li {
  font-weight: bolder;
  position: relative;
  padding: 5px;
}
.skills-ul li::before {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 100%;
  height: 3px;
  background-color: GRAY;
  /* border-radius: 1000px; */
}
.skills-ul li::after {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 0%;
  height: 3px;
  background-color: BLUE;
  /* border-radius: 1000px; */
  animation-duration: 2s;
  animation-delay: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  /* animation-iteration-count: infinite; */
}
.skills-ul li.business-consulting::after {
  animation-name: business-consulting;
}
.skills-ul li.business-startup::after {
  animation-name: business-startup;
}
.skills-ul li.marketing-analysis::after {
  animation-name: marketing-analysis;
}

@keyframes business-consulting {
  to {
    width: 74%;
  }
}
@keyframes business-startup {
  to {
    width: 86%;
  }
}
@keyframes marketing-analysis {
  to {
    width: 48%;
  }
}
